
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing:border-box

}

/*First box background color dark*/

.header {
    background: #171717;
    opacity: 0.4;
    height: 90px;
}

#logo{
    margin-top: 15px;
}
